*,
html, 
body {
    margin: 0px;
    text-align: center;
    font-family: "Montserrat", system-ui;
}

header {
    background-color: #0B60B0;
    color: white;
    width: 98%;
    height: 200px;
    margin: 1%;
}

header h1 {
    text-align: center;
    padding: 60px;
    font-size: 60px;
}

.wrapper {
    background-color: #CCCCFF;
    width: 98%;
    height: auto;
    margin: 1%;
    border-style: none;
}

.wrapper .page {
    width: 18%;
    height: auto;
    background-color: whitesmoke;
    display: inline-block;
    margin: 8PX;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px grey;
}

.btn {
    margin-top: 16PX;
    margin-bottom: 24px;
    padding: 8PX;
    cursor: pointer;
    border-style: outset;
    border-color: black;
    width: 70%;    
}

.btn:hover {
    background-color: #387ADF;
    color: white;
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
    transition: .3s ease-in-out;
}

.image_link {
    height: 120px;
    width: auto;
    margin: 4%; 
    margin-top: 24px;
}


footer {
    background-color: #0B60B0;
    color: white;
    width: 98%;
    height: 60px;
    margin: 1%;
}

footer p {
    text-align: center;
    padding: 20px;
}